
p{
	color:black;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
	overflow-x: hidden; /* disable scroll bars */
}

 /* Adds an underline to the link when the mouse pointer is over it. */
 a:hover {
   text-decoration: underline;
 }

section {
    background-color: #f9f9f9;
    padding: 30px;
    margin: 15px 0;
    border-radius: 10px;
}

/* header part*/
.bghead{
    width: auto;
    height: 200px;
    text-align: center;
    color: rgb(12, 12, 12);
    background-color: rgb(250, 187, 12);
	 padding: 50px;
	
}
 .bghead h5{
 font-family: "Dancing Script", cursive;
	font-size: 1.6rem;
  font-weight: <weight>;
  font-style: normal;
    }
 
/* footer part */
 .footer {
      background-color: white;
      color: #fff;
      padding: 20px;
    }
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	padding-left: 340px;
	padding-right:340px;  
  }
  .footer-column {
    margin: 10px;
    text-align:center ;
	display: flex; 
	gap: 20px;
	padding-bottom:15px;
    }
 .footer-column2 {
    margin: 10px;
    text-align:center ;
	display: flex; 
	gap: 8px;
	padding-left: 80px;
	padding-bottom:15px;
	vertical-align: middle;
    }

	

/* Homepage */
.container1{
    width: 100%;
    height: 400px;
    background-color:white;
    margin-left: 19%;
   
}			
.container2{
    width: 1350px;
    height: 600px;
    color: rgb(12, 12, 12);
    background-color: rgb(250, 187, 12);
    display: grid;
    grid-template-columns: 300px 1300px;
    grid-template-rows: 300px 1000px;
}
.container3{
    margin: 50px 00px;
    
    width: 1350px;
    height: 520px;
    color: rgb(12, 12, 12);
    background-color:white;
    display: grid;
    grid-template-columns: 300px 500px;
    grid-template-rows: 300px 500px;
}


/* page2 explore*/
.container4{    
    text-align: center;
    height: 500px;
    width: 100%;
    background-color: rgb(252, 242, 213);
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 400px 400px 400px;
}
.menu_button{
    width: 220px;
    height: 220px;
    margin: -300px 110px;
    display: inline-block;
    background-color:rgb(250, 187, 12); 
    padding: 15px 30px;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none; 
    border-radius: 28px;
    transition: background-color 0.3s ease;
}
.menu_button :hover{
    width: 200px;
    height: 230px;
    margin: -15px -30px;
    border-radius: 28px;
    background-color: gray;
}



/* page3  All menu*/
.container5{
    text-align: center;
    height: 400px;
    width: 100%;
    background-color:rgb(252, 242, 213);
    display: grid;
    grid-template-columns: 450px 450px 450px;
    grid-template-rows: 400px 400px 400px;
    border-radius: 28px;
}



 /*  page5 contact us*/
 /* feedback form*/
.container7 {
    max-width: 800px;
	height:600px; 
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	 font-weight:bold; 
}

  /* distibute image and content*/
.title{
    margin-top: 0;
    line-height: 1.42857143;
   color: black;  
    display: inline-block;	 
}
/* validation styles */
 .error {
  color: red;
  font-size: 0.9em;
}

.error-field {
  border: 2px solid red;
  background-color: #ffe6e6;
}



/* page 4: locations*/
/* Search button styles */
 .btn.secondary {
    background-color: #ffe133;
    color: black;
	cursor: pointer;
	padding:1px;
}
 
select {
  width: 50%;  
  font-size: 15px;  
  border-radius: 4px; 
}

/*  For the "send" button styles */
 .btn.primary {
    width: 60%;
	margin: 0 auto;
	display: block;  
	padding: 8px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor:pointer ;
}
.container8 {
  padding: 20px;

}



/* Page6: Our App */
.container6 {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.header {
  background-color: #ccc;
  color: #000;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

/* Grid Layout */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  padding-left: 70px;
  padding-top: 100px;
  padding-bottom: 80px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: auto;
}

.image1{
max-width: 100%;
  height:auto; 
}

.app-icons {
  display: flex;
  justify-content: center; /* Center-align icons */
  gap: 20px; /* Space between icons */
  margin-top: 20px;
}
.container8{
 max-width: 600px;
  margin: 0 auto;
  text-align: center;
}


 



