
/* header part*/
.bghead{
    width: auto;
    height: 200px;
    text-align: center;
    color:  #502314;
    background-color:#f5ebdc;
	 padding: 50px;
}


/* footer part */
 .footer {
      background-color:#f5ebdc;
      color: rgb(12, 12, 12);
      padding: 20px;
    }
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	padding-left: 340px;
	padding-right:340px;  
	
  }
  .footer-column {
    margin: 10px;
    text-align:center ;
	display: flex; 
	gap: 20px;
	padding-bottom:15px;
	
    }
 .footer-column2 {
    margin: 10px;
    text-align:center ;
	display: flex; 
	gap: 8px;
	padding-left: 80px;
	padding-bottom:15px;
	vertical-align: middle;
    }
	
	.container4{    
    text-align: center;
    height: 500px;
    width: 100%;
    background-color: #502314;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 400px 400px 400px;
}
	
	.menu_button{
    width: 320px;
    height: 220px;
    margin: -300px 110px;
    display: inline-block;
    background-color:#f5ebdc; 
    padding: 15px 30px;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none; 
    border-radius: 28px;
    transition: background-color 0.3s ease;
}