.box{
    width: 1350px;
    height: 200px;
    text-align: center;
    color: rgb(12, 12, 12);
    background-color: rgb(250, 187, 12);
}
.container1{
    width: 100%;
    height: 400px;
    background-color:white;
    margin-left: 19%;
}				
.container2{
    width: 1350px;
    height: 600px;
    color: rgb(12, 12, 12);
    background-color: rgb(250, 187, 12);
    display: grid;
    grid-template-columns: 300px 1300px;
    grid-template-rows: 300px 1000px;
}
.container3{
    margin: -100px 00px;
    margin-top: 300px;
    width: 1350px;
    height: 520px;
    color: rgb(12, 12, 12);
    background-color:white;
    display: grid;
    grid-template-columns: 300px 500px;
    grid-template-rows: 300px 500px;
}
.container4{    
    text-align: center;
    height: 500px;
    width: 100%;
    background-color: rgb(252, 242, 213);
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 400px 400px 400px;
}
.menu_button{
    width: 220px;
    height: 220px;
    margin: -300px 110px;
    display: inline-block;
    background-color:rgb(250, 187, 12); 
    padding: 15px 30px;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none; 
    border-radius: 28px;
    transition: background-color 0.3s ease;
}
.menu_button :hover{
    width: 200px;
    height: 230px;
    margin: -15px -30px;
    border-radius: 28px;
    background-color: gray;
}
.container5{
    text-align: center;
    height: 400px;
    width: 100%;
    background-color:rgb(252, 242, 213);
    display: grid;
    grid-template-columns: 450px 450px 450px;
    grid-template-rows: 400px 400px 400px;
    border-radius: 28px;


}
body {
    overflow-x: hidden; /* disable scroll bars */
  }
